<launch>

    <arg name="target" default="office_b10"/>
    <arg name="source" default="office_b11"/>

    <param name="/param" value="$(find icp_visualization)/config/params.yaml"/>
    <param name="/source_cloud" value="$(find icp_visualization)/data/$(arg source).pcd"/>
    <param name="/target_cloud" value="$(find icp_visualization)/data/$(arg target).pcd"/>

    <node pkg="icp_visualization" type="icp_visualization" name="icp_visualization" output="screen"/>

</launch>
